@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");
/* BACKGROUND BODY */
.bodyinicio {
  background: #2f1b31;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(15%, #2f1b31), color-stop(50%, #861234), color-stop(70%, #2f1b31));
  background: linear-gradient(0deg, #2f1b31 15%, #861234 50%, #2f1b31 70%);
}

.bodymiembros {
  background: #3e0432;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #1a0418), color-stop(60%, #13071e));
  background: linear-gradient(0deg, #1a0418 25%, #13071e 60%);
}

.bodyhistoria {
  background: #2b2f38;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #2b2f38), to(#82838b));
  background: linear-gradient(180deg, #2b2f38 35%, #82838b 100%);
}

.bodygaleria {
  background: #fffffd;
  background: -webkit-gradient(linear, left bottom, left top, from(#fffffd), color-stop(60%, #111110));
  background: linear-gradient(0deg, #fffffd 0%, #111110 60%);
}

.bodyunirse {
  background: #860010;
  background: -webkit-gradient(linear, left bottom, left top, from(#860010), color-stop(40%, black));
  background: linear-gradient(0deg, #860010 0%, black 40%);
}

/* NAVBAR */
nav {
  background-color: #000;
}

nav .navbar {
  padding: 0.3rem 0.3rem;
}

nav .logo {
  max-width: 85px;
  cursor: pointer;
}

nav .navbar-brand {
  font-size: 2.5em;
  font-weight: 400;
  font-family: 'Ninja Naruto', sans-serif;
  font-style: italic;
  padding-top: 0.5rem;
  padding-bottom: 0rem;
  line-height: normal;
  letter-spacing: 2px;
  cursor: pointer;
}

nav .navbar-collapse {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-transform: uppercase;
}

nav .navbar-collapse .navbar-nav {
  color: #e7e8e9;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
}

nav .navbar-collapse .navbar-nav .nav-link {
  color: #fff;
  padding-right: 1rem;
  padding-left: 1rem;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
  padding: 0.4rem 1rem;
}

nav .navbar-collapse .navbar-nav .nav-link:hover {
  color: #7a3c9e;
}

nav .navbar-collapse .navbar-nav .nav-button {
  width: 110px;
  color: #ff0024;
  background-color: #f2f2f221;
  font-weight: 600;
  border-radius: 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

nav .navbar-collapse .navbar-nav .nav-button:hover {
  color: #e7e8e9;
  background-color: #ff0024;
}

.navbar-dark .navbar-toggler {
  color: transparent;
  border-color: transparent;
  font-size: 1.5rem;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
  color: #7a3c9e;
}

/* INICIO */
.bannerinicio {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, black), color-stop(70%, rgba(0, 0, 0, 0))), url(../media/banner/bannerInicio.png);
  background: linear-gradient(black 1%, rgba(0, 0, 0, 0) 70%), url(../media/banner/bannerInicio.png);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(20%);
          filter: grayscale(20%);
}

.bannerinicio__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bannerinicio__container .bannerinicio__title {
  font-size: 10em;
  color: #a01c35;
  margin-bottom: 0.3em;
  text-shadow: 5px 5px 15px black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.containerinicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20vh;
  margin-bottom: 20vh;
  background-color: #22041d69;
}

.containerinicio .containerinicio__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin: 3vh;
}

.containerinicio .containerinicio__video .containerinicio__video-w {
  width: 90%;
}

.containerinicio .containerinicio__text {
  width: 50%;
  padding: 4vh;
  font-family: "Oswald", sans-serif;
  color: #e7e8e9;
  text-align: center;
}

.containerinicio .containerinicio__text .containerinicio__title {
  color: #7a1434;
  font-size: 2.5em;
  padding-bottom: 8px;
}

.containerinicio .containerinicio__text .containerinicio__p {
  font-size: 1.6em;
}

.containerpelea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20vh;
  background-color: #22041d69;
}

.containerpelea .containerpelea__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  color: #e7e8e9;
  font-family: "Oswald", sans-serif;
  margin: 3vh;
}

.containerpelea .containerpelea__text .containerpelea__title {
  color: #7a1434;
  font-size: 2.5em;
  padding-bottom: 8px;
}

.containerpelea .containerpelea__text .containerpelea__p {
  font-size: 1.6em;
}

.containerpelea .containerpelea__boximg {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerpelea .containerpelea__boximg .containerpelea__img {
  width: 80%;
  margin: 20px;
  border: 6px solid #71163b36;
  border-radius: 60px;
}

.containerestatua {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15vh;
  background-color: #22041d69;
}

.containerestatua .containerestatua__text {
  width: 50%;
  margin: 5vh;
  color: #e7e8e9;
  font-family: "Oswald", sans-serif;
}

.containerestatua .containerestatua__text .containerestatua__title {
  color: #7a1434;
  font-size: 2.5em;
  padding-bottom: 8px;
}

.containerestatua .containerestatua__text .containerestatua__p {
  font-size: 1.6em;
}

.containerestatua .containerestatua__boximg {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerestatua .containerestatua__boximg .containerestatua__img {
  width: 70%;
  margin: 20px;
  border: 6px solid #71163b36;
  border-radius: 60px;
}

/* MIEMBROS */
.bannerMiembros {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(7%, black), color-stop(70%, rgba(0, 0, 0, 0))), url(../media/banner/bannerMiembros.gif);
  background: linear-gradient(black 7%, rgba(0, 0, 0, 0) 70%), url(../media/banner/bannerMiembros.gif);
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  -webkit-filter: grayscale(20%);
          filter: grayscale(20%);
}

.bannermiembros__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bannermiembros__container .bannermiembros__title {
  font-size: 10em;
  color: #24174c;
  margin-bottom: 0.3em;
  text-shadow: 5px 5px 15px black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.miembros__container {
  width: 100%;
  margin: 25px auto;
}

.miembros__container .miembros__display {
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.miembros__container .miembros__display .miembros__card {
  position: relative;
  width: 20em;
  background-color: #442144;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4vh 1em;
  overflow: hidden;
  -webkit-box-shadow: 6px 6px 3px 1px rgba(0, 0, 0, 0.589);
          box-shadow: 6px 6px 3px 1px rgba(0, 0, 0, 0.589);
  border-radius: 80px;
}

.miembros__container .miembros__display .miembros__card .miembros__content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 50%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.58);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  text-align: center;
  bottom: 0;
}

.miembros__container .miembros__display .miembros__card .miembros__content:hover {
  opacity: 1;
  visibility: visible;
}

.miembros__container .miembros__display .miembros__card .miembros__card-title {
  font-size: 1.5em;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
  color: #c51111;
  text-transform: uppercase;
  margin-top: 8px;
}

.miembros__container .miembros__display .miembros__card .miembros__card-text {
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  color: #fff;
  margin: 0 1em 0 1em;
}

.miembros__container .miembros__display .miembros__card .miembros__img {
  width: 300px;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.miembros__container .miembros__display .miembros__card .miembros__img:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.miembros__container .miembros__display .miembros__card .tobi__img {
  height: 500px;
  width: 180px;
}

/* HISTORIA */
.bannerHistoria {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(7%, black), color-stop(70%, rgba(0, 0, 0, 0))), url(../media/banner/bannerHistoria.png);
  background: linear-gradient(black 7%, rgba(0, 0, 0, 0) 70%), url(../media/banner/bannerHistoria.png);
  height: 100vh;
  background-position: bottom;
  background-size: cover;
  -webkit-filter: grayscale(40%);
          filter: grayscale(40%);
}

.bannerhistoria__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bannerhistoria__container .bannerhistoria__title {
  font-size: 10em;
  color: #7f9951;
  margin-bottom: 0.3em;
  text-shadow: 5px 5px 15px black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.historia__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.historia__container .historia__block--title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #743644;
  font-size: 2em;
  margin-bottom: 20px;
}

.historia__container .historia__block {
  width: 30%;
  padding: 30px;
  margin: 10px;
  background: #1c1c1c;
  border-radius: 40px;
  -webkit-box-shadow: 6px 3px 7px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 6px 3px 7px 3px rgba(0, 0, 0, 0.3);
  font-family: "Oswald", sans-serif;
}

.historia__container .historia__block .historia__block_img {
  width: 100%;
  border: 2px solid #777;
}

.historia__container .historia__block .historia__block--text {
  color: #e7e8e9;
  font-size: 1.4em;
  margin-top: 10px;
}

/* GALERIA */
.bannerGaleria {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(7%, black), color-stop(70%, rgba(0, 0, 0, 0))), url(../media/banner/bannerGaleria.jpg);
  background: linear-gradient(black 7%, rgba(0, 0, 0, 0) 70%), url(../media/banner/bannerGaleria.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  -webkit-filter: grayscale(20%);
          filter: grayscale(20%);
  margin-bottom: 20px;
}

.bannergaleria__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bannergaleria__container .bannergaleria__title {
  font-size: 10em;
  color: #575756;
  margin-bottom: 0.3em;
  text-shadow: 5px 5px 15px black;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.backgroundGaleria {
  margin-top: 20vh;
}

.backgroundGaleria .containergaleria {
  width: 100%;
  margin: auto;
  list-style: none;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.backgroundGaleria .containergaleria .containergaleria__list {
  margin: 5px;
}

.backgroundGaleria .containergaleria .containergaleria__img {
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  width: 22em;
  border-radius: 20px;
}

.backgroundGaleria .containergaleria .containergaleria__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* UNIRSE */
.bannerUnirse {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(7%, black), color-stop(70%, rgba(0, 0, 0, 0))), url(../media/banner/bannerUnirse.png);
  background: linear-gradient(black 7%, rgba(0, 0, 0, 0) 70%), url(../media/banner/bannerUnirse.png);
  height: 100vh;
  background-position: bottom;
  background-size: cover;
}

.bannerunirse__container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bannerunirse__container .bannerunirse__title {
  font-size: 10em;
  color: #f93e3c;
  margin-bottom: 0.3em;
  text-shadow: 5px 5px 15px #f93e3c7d;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.backgroundunirse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 130vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backgroundunirse .form__container {
  max-width: 700px;
  width: 100%;
  background: #111111;
  padding: 25px 30px;
  border-radius: 10px;
  border: 1px solid #f93e3c;
}

.backgroundunirse .form__container .form__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Oswald", sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #f93e3c;
  font-size: 3em;
  font-weight: 500;
  position: relative;
}

.backgroundunirse .form__container form input[type="radio"] {
  display: none;
}

.backgroundunirse .form__container form .form__user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 12px 0;
}

.backgroundunirse .form__container form .form__user-details .form__input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.backgroundunirse .form__container form .form__user-details .form__input-box .form__input {
  height: 40px;
  width: 100%;
  outline: none;
  color: #000;
  background: #fff3;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 1em;
  border-bottom-width: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.backgroundunirse .form__container form .form__user-details .form__input-box .form__input:focus {
  border-color: #f93e3c;
}

.backgroundunirse .form__container form .form__user-details .form__input-box .form__input:valid {
  border-color: #f93e3c;
}

.backgroundunirse .form__container form .form__user-details .form__input-box .form__details {
  display: block;
  font-size: 1.4em;
  font-family: "Oswald", sans-serif;
  color: #e7e8e9;
  font-weight: 500;
  margin-bottom: 5px;
}

.backgroundunirse .form__container form .form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.backgroundunirse .form__container form .form__block .form__gender-details .form__gender-title {
  font-size: 1.4em;
  font-family: "Oswald", sans-serif;
  color: #e7e8e9;
  font-weight: 500;
}

.backgroundunirse .form__container form .form__block .form__gender-details .form__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 31.8%;
  margin: 14px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.backgroundunirse .form__container form .form__block .form__gender-details .form__category .form__gender-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backgroundunirse .form__container form .form__block .form__gender-details .form__category .form__gender-label .form__gender {
  font-size: 1.2em;
  font-family: "Oswald", sans-serif;
  color: #e7e8e9;
  padding-right: 20px;
}

.backgroundunirse .form__container form .form__block .form__gender-details .form__category .form__gender-label .form__dot {
  height: 15px;
  width: 15px;
  background: #d9d9d9;
  border-radius: 50%;
  margin-right: 10px;
  border: 5px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.backgroundunirse .form__container form .form__block .form__options {
  width: 50%;
  margin-left: 30px;
}

.backgroundunirse .form__container form .form__block .form__options .form__options-title {
  font-size: 1.4em;
  font-family: "Oswald", sans-serif;
  color: #e7e8e9;
  font-weight: 500;
}

.backgroundunirse .form__container form .form__block .form__options .form__select {
  margin: 14px 0;
  background: #c4c4c4;
  border-radius: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

.backgroundunirse .form__container form .form__block .form__options .form__select .form__option {
  color: black;
}

.backgroundunirse .form__container form .form__objetives {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.backgroundunirse .form__container form .form__objetives .form__textarea-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.4em;
  font-family: "Oswald", sans-serif;
  color: #e7e8e9;
  font-weight: 500;
  text-transform: uppercase;
}

.backgroundunirse .form__container form .form__objetives .form__textarea {
  border-radius: 20px;
  background: #c4c4c4;
  font-style: "Oswald", sans-serif;
  font-size: 1.2em;
  width: 100%;
  height: 150px;
  -webkit-transition: all 1s;
  transition: all 1s;
  border-color: #ccc;
  outline: none;
}

.backgroundunirse .form__container form .form__objetives .form__textarea:focus {
  border-color: #f93e3c;
}

.backgroundunirse .form__container form .form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  margin: 45px 0;
}

.backgroundunirse .form__container form .form__button .form__button-input {
  height: 100%;
  width: 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  outline: none;
  background: #fff3;
  border: 1px solid #e7e8e9;
  color: #f93e3c;
  border-radius: 40px;
  font-weight: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.backgroundunirse .form__container form .form__button .form__button-input:hover {
  color: #fff;
  background: #f93e3c;
}

#dot-1:checked ~ .form__category .form__gender-label .form__one,
#dot-2:checked ~ .form__category .form__gender-label .form__two {
  border-color: #d9d9d9;
  background: #f93e3c;
}

/* FOOTER */
footer {
  margin-top: 20vh;
}

footer .footercontent {
  background: #131313;
  border-top: 1px solid #6a6a6a;
}

footer .footercontent .footercontent__socials {
  list-style: none;
  margin-bottom: 0px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footercontent .footercontent__socials .footercontent__list {
  margin: 0 4em;
}

footer .footercontent .footercontent__socials .footercontent__icons {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.808);
  font-size: 26px;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

footer .footercontent .footercontent__socials .footercontent__icons:hover {
  color: #8c6199;
}

footer .footerbutton {
  background: rgba(0, 0, 0, 0.945);
  width: auto;
  text-align: center;
}

footer .footerbutton .footerbutton__text {
  color: #e7e8e9;
  font-size: 0.8em;
  word-spacing: 2px;
  -webkit-text-decoration: capitalize;
          text-decoration: capitalize;
  margin-bottom: 0 !important;
}

footer .footerbutton .footerbutton__text .footerbutton__text-span {
  text-transform: uppercase;
  opacity: .4;
}

/* MEDIA QUERIES */
@media (min-width: 50px) and (max-width: 576px) {
  /* NAVBAR */
  .navbar-brand {
    display: none;
  }
  /* INICIO */
  .bannerinicio__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bannerinicio__container .bannerinicio__title {
    font-size: 20vw;
    margin: 0;
  }
  .bannermiembros__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bannermiembros__container .bannermiembros__title {
    font-size: 18vw;
    margin: 0;
  }
  .bannerhistoria__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bannerhistoria__container .bannerhistoria__title {
    font-size: 20vw;
    margin: 0;
  }
  .bannerunirse__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bannerunirse__container .bannerunirse__title {
    font-size: 20vw;
    margin: 0;
  }
  .bannergaleria__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bannergaleria__container .bannergaleria__title {
    font-size: 20vw;
    margin: 0;
  }
  .bannerunirse__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bannerunirse__container .bannerunirse__title {
    font-size: 20vw;
    margin: 0;
  }
  .containerinicio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerinicio .containerinicio__text {
    width: 100%;
  }
  .containerinicio .containerinicio__video {
    width: 100%;
  }
  .containerpelea {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerpelea .containerpelea__text {
    width: 90%;
  }
  .containerpelea .containerpelea__boximg {
    width: 100%;
  }
  .containerpelea .containerpelea__boximg .containerpelea__img {
    width: 90%;
  }
  .containerestatua {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerestatua .containerestatua__boximg {
    width: 100%;
  }
  .containerestatua .containerestatua__boximg .containerestatua__img {
    width: 90%;
  }
  .containerestatua .containerestatua__text {
    width: 90%;
  }
  /* HISTORIA */
  .historia__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0vh;
  }
  .historia__container .historia__block {
    width: 80%;
    margin: 80px auto -50px auto;
  }
  /* GALERIA */
  .backgroundGaleria .containergaleria .containergaleria__list {
    margin: 10px;
  }
  /* UNIRSE*/
  .backgroundunirse .form__container {
    max-width: 100%;
    margin: 10px;
  }
  .backgroundunirse .form__container form .form__user-details {
    max-height: 300px;
    overflow-y: scroll;
  }
  .backgroundunirse .form__container form .form__user-details::-webkit-scrollbar {
    width: 0;
  }
  .backgroundunirse .form__container form .form__user-details .form__input-box {
    margin-bottom: 15px;
    width: 100%;
  }
  .backgroundunirse .form__container form .form__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .backgroundunirse .form__container form .form__block .form__gender-details .form__category {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .backgroundunirse .form__container form .form__block .form__gender-details .form__category .form__gender-label .form__gender {
    padding-right: 0px;
  }
  .backgroundunirse .form__container form .form__block .form__options {
    margin-left: 0px;
  }
  /* FOOTER */
  footer .footercontent .footercontent__socials {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .footercontent .footercontent__socials .footercontent__list {
    margin: auto;
  }
  footer .footerbutton .footerbutton__text {
    font-size: 0.7em;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  /* INICIO */
  .bannerinicio__container .bannerinicio__title {
    font-size: 7em;
  }
  .bannermiembros__container .bannermiembros__title {
    font-size: 6em;
  }
  .bannerhistoria__container .bannerhistoria__title {
    font-size: 7em;
  }
  .bannergaleria__container .bannergaleria__title {
    font-size: 7em;
  }
  .bannerunirse__container .bannerunirse__title {
    font-size: 7em;
  }
  .containerinicio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerinicio .containerinicio__text {
    width: 100%;
  }
  .containerinicio .containerinicio__video {
    width: 90%;
  }
  .containerpelea {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerpelea .containerpelea__text {
    width: 90%;
  }
  .containerpelea .containerpelea__boximg {
    width: 100%;
  }
  .containerpelea .containerpelea__boximg .containerpelea__img {
    width: 90%;
  }
  .containerestatua {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerestatua .containerestatua__boximg {
    width: 100%;
  }
  .containerestatua .containerestatua__boximg .containerestatua__img {
    width: 90%;
  }
  .containerestatua .containerestatua__text {
    width: 90%;
  }
  /* HISTORIA */
  .historia__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0vh;
  }
  .historia__container .historia__block {
    width: 80%;
    margin: 80px auto -50px auto;
  }
  /* FOOTER */
  footer .footercontent .footercontent__socials {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .footercontent .footercontent__socials .footercontent__list {
    margin: auto;
  }
  footer .footerbutton .footerbutton__text {
    font-size: 0.8em;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  /* INICIO */
  .bannerinicio__container .bannerinicio__title {
    font-size: 9em;
  }
  .bannermiembros__container .bannermiembros__title {
    font-size: 8em;
  }
  .bannerhistoria__container .bannerhistoria__title {
    font-size: 9em;
  }
  .bannergaleria__container .bannergaleria__title {
    font-size: 9em;
  }
  .bannerunirse__container .bannerunirse__title {
    font-size: 9em;
  }
  .containerinicio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerinicio .containerinicio__text {
    width: 100%;
  }
  .containerinicio .containerinicio__video {
    width: 90%;
  }
  .containerpelea {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerpelea .containerpelea__text {
    width: 90%;
  }
  .containerpelea .containerpelea__boximg {
    width: 100%;
  }
  .containerestatua {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerestatua .containerestatua__boximg {
    width: 100%;
  }
  .containerestatua .containerestatua__text {
    width: 90%;
  }
  /* HISTORIA */
  .historia__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0vh;
  }
  .historia__container .historia__block {
    width: 80%;
    margin: 80px auto -50px auto;
  }
  /* FOOTER */
  .footercontent__list {
    margin: 0px 2em;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .containerinicio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerinicio .containerinicio__text {
    width: 100%;
  }
  .containerinicio .containerinicio__video {
    width: 90%;
  }
  .containerpelea {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerpelea .containerpelea__text {
    width: 90%;
  }
  .containerpelea .containerpelea__boximg {
    width: 100%;
  }
  .containerestatua {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .containerestatua .containerestatua__boximg {
    width: 100%;
  }
  .containerestatua .containerestatua__text {
    width: 90%;
  }
  .footercontent__list {
    margin: 0px 2em;
  }
}
/*# sourceMappingURL=estilos.css.map */