$title:'Raleway', sans-serif;
$cursor: default;
$transform: uppercase;
$colortext:#e7e8e9;
$sizetitle: 2.5em;
$sizetext: 1.8em;
$titleweight: 400;
$text: 'Oswald', sans-serif;

@mixin display($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}