$raleway:'Raleway', sans-serif;
$oswald: 'Oswald', sans-serif;
$sizetitle: 2.5em;
$sizetext: 1.6em;
$colortext:#e7e8e9;
$unirsecolor: #f93e3c;

@mixin display($direction){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}