@import "fuentes";
@import "variables";

/* MAIN */

.bodyinicio{
    background: rgb(47,27,49);
    background: linear-gradient(0deg, rgba(47,27,49,1) 15%, rgba(134,18,52,1) 50%, rgba(47,27,49,1) 70%); 
}
.bodymiembros{
    background: #201839;
}
.bodyhistoria{
    background: rgb(43,47,56);
    background: linear-gradient(180deg, rgba(43,47,56,1) 35%, rgba(130,131,139,1) 100%);
}

.bodygaleria{
    background: rgb(255,255,253);
    background: linear-gradient(0deg, rgba(255,255,253,1) 0%, rgba(17,17,16,1) 60%);
}

.bodyunirse{
    background: rgb(134,0,16);
    background: linear-gradient(0deg, rgba(134,0,16,1) 0%, rgba(0,0,0,1) 40%);
}

/* NAVBAR */

nav{
    background-color: #000;
    .navbar{
        padding: 0.3rem 0.3rem;
    }
    .logo{
        max-width: 85px;
        cursor: $cursor;
    }
    .navbar-brand{
        font-size: 2.5em;
        font-weight: $titleweight;
        font-family: 'Ninja Naruto', sans-serif;
        font-style: italic;
        padding-top: 0.5rem;
        padding-bottom: 0rem;
        line-height: normal;
        letter-spacing: 2px;
        cursor: default;
    }
    .navbar-collapse{
        justify-content: flex-end;
        text-transform: $transform;
        .navbar-nav{
            color: $colortext;
            font-size: 18px;
            font-family: $title;
            text-decoration: none;
            letter-spacing: 1px;
            .nav-link{
                color: #f2f2f2e8;
                padding-right: 1rem;
                padding-left: 1rem;
                transition: color .2s ease ;
                padding: 0.4rem 1rem;
                &:hover{
                    color: rgb(122, 60, 158);
                }
            }
            .nav-button{
                width: 110px;
                color: #ff0024;
                background-color: #f2f2f221;
                font-weight: 600;
                border-radius: 30px;
                &:hover{
                    color: rgb(122, 60, 158);
                }
            }
        }
    }
}

.navbar-dark .navbar-toggler {
    color: transparent;
    border-color: transparent;
    font-size: 1.5rem;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color:rgb(122, 60, 158);
}

/* INICIO */

.bannerinicio{
    background: linear-gradient(rgb(0, 0, 0) 1%, rgba(0, 0, 0, 0) 70%), url(../media/banner/bannerInicio.png);
    height: 92.7vh;
    background-position: center;
    background-size: cover;
    filter: grayscale(20%);
}


.bannerinicio__container {
    display: flex;
    width: 100%;
    justify-content: end;
    padding-top: 70vh;
    padding-right: 10vh;
    .bannerinicio__title{
        font-size: 10em;
        font-family: $title;
        font-weight: bold;
        color: #dcd1d6;
        margin-right: 2vh;
    }
}



.containerinicio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
    background-color: #22041d69;
    .containerinicio__video{
        width: 50%;
        @include display(row);
        margin: 5vh;
        .containerinicio__video-w{
            width: 100%;
        }
    }
    .containerinicio__text{
        width: 50%;
        padding: 4vh;
        font-family: $text;
        color: $colortext;
        @include display(column);
        text-align: center;
        .containerinicio__title{
            color: #7a1434;
            font-size: $sizetitle;
            padding-bottom: 8px;
        }
        .containerinicio__p{
            font-size: $sizetext;
        }
    }
}

.containerpelea{
    @include display(row);
    margin-bottom: 20vh;
    background-color: #22041d69;
    .containerpelea__text{
        @include display(column);
        width: 50%;
        color: $colortext;
        font-family: $text;
        margin: 5vh;
        .containerpelea__title{
            color: #7a1434;
            font-size: $sizetitle;
            padding-bottom: 8px;
        }
        .containerpelea__p{
            font-size: $sizetext;
        }
    }
    .containerpelea__boximg{
        width: 50%;
        @include display(row);
        .containerpelea__img{
            width: 80%;
            margin: 20px;
            border: 6px solid #71163b36;
            border-radius: 60px;
        }
    }
}

.containerestatua{
    @include display(row);
    margin-bottom: 15vh;
    background-color: #22041d69;
    .containerestatua__text{
        width: 50%;
        @include display(column);
        margin: 5vh;
        color: $colortext;
        font-family: $text;
        .containerestatua__title{
            color: #7a1434;
            font-size: $sizetitle;
            padding-bottom: 8px;
        }
        .containerestatua__p{
            font-size: $sizetext;
        }
    }
    .containerestatua__boximg{
        width: 50%;
        @include display(row);
        .containerestatua__img{
            width: 70%;
            margin: 20px;
            border: 6px solid #71163b36;
            border-radius: 60px;
        }
    }
}

/* MIEMBROS */

.bannerMiembros{
    background: linear-gradient(rgb(0, 0, 0) 7%, rgba(0, 0, 0, 0) 70%), url(../media/banner/bannerMiembros.gif);
    height: 92.7vh;
    background-position: bottom;
    background-size: cover;
    filter: grayscale(20%);
}

/* HISTORIA */

.bannerHistoria{
    background: linear-gradient(rgb(0, 0, 0) 7%, rgba(0, 0, 0, 0) 70%), url(../media/banner/bannerHistoria.png);
    height: 92.7vh;
    background-position: bottom;
    background-size: cover;
    filter: grayscale(40%);
}

    .historia__container{
        display: flex;
        margin-top: 10vh;
        margin-bottom: 10vh;
        justify-content: space-evenly;
        .historia__block--title{
            display: flex;
            justify-content: center;
            color: #743644;
            font-size: 2em;
            margin-bottom: 20px;
        }
        .historia__block{
            width: 30%;
            padding: 30px;
            margin: 10px;
            background: #1c1c1c;
            border-radius: 40px;
            font-family: $text;
            .historia__block_img{
                width: 100%;
                border: 3px solid #777;
            }
            .historia__block--text{
                color: $colortext;
                font-size: 1.4em;
                margin-top: 10px;
            }
        }
    }


/* GALERIA */

.bannerGaleria{
    background: linear-gradient(rgb(0, 0, 0) 7%, rgba(0, 0, 0, 0) 70%), url(../media/banner/bannerGaleria.jpg);
    height: 92.7vh;
    background-position: center;
    background-size: cover;
    filter: grayscale(20%);
    margin-bottom: 20px;
}

.backgroundGaleria{
    margin-top: 10vh;
    .containergaleria{
        width: 90%;
        margin: auto;
        list-style: none;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        .containergaleria__list{
            margin: 5px;
        }
        .containergaleria__img{
            width: 400px;
            &:hover{
                transform: scale(1.1);
                transition: 0.5s;
            }
        }
    }
}

/* UNIRSE */

.bannerUnirse{
    background: linear-gradient(rgb(0, 0, 0) 7%, rgba(0, 0, 0, 0) 70%), url(../media/banner/bannerUnirse.png);
    height: 92.7vh;
    background-position: bottom;
    background-size: cover;
}

.backgroundunirse{
    padding: 2vh;
    font-family: $text;
    #form{
        width: 850px;
        background: rgb(17, 17, 17);
        padding: 30px;
        margin: auto;
        color: rgb(187, 184, 184);
        border-radius: 20px;
        .form__container{
            @include display(row);
            .form__block1{
                padding-right: 40px;
                .form__block1--controls{
                    width: 100%;
                    background: #fff3;
                    padding: 10px;
                    border-radius: 20px;
                    margin-bottom: 16px;
                    border: 0px;
                    font-size: 1em;
                    color: #000;
                }
                .form__block1--title{
                    font-size: 1.5em;
                    margin-bottom: 0px;
                }
            }
            .form__block2{
                .form__block2--spacing{
                    padding: 2px;
                    .form__block2--title{
                        font-size: 1.5em;
                        margin-bottom: 12px;
                    }
                    .form__block2--spacingtext{
                        padding-left: 5px;
                        font-size: 1.2em;
                    }
                    .form__block2--subtitle{
                        font-size: 1.5em;
                        margin-bottom: 20px;
                    }
                    .form__block2--colorbutton{
                        background: #fff3;
                        border-radius: 6px;
                        color: rgb(187, 184, 184);
                    }
                }
                .form__block2--textarea{
                    width: 340px;
                    height: 130px;
                    transition: all 1s;
                    margin-bottom: 12px;
                    &:focus{
                        width: 450px;
                        height: 200px;
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}

/* RECIBE */

#backgroundRecibe{
    width: 100%;
    height: 100%;
    background-color: #4c4c54;
}

/* FOOTER */

footer{
    .footercontent{
        background: linear-gradient(180deg, rgba(255, 255, 253, 0) 20%, black 150%);
        .footercontent__socials{
            list-style: none;
            margin-bottom: 0px;
            padding: 0;
            @include display(row);
            .footercontent__list{
                margin: 0px 50px;
            }
            .footercontent__icons{
                text-decoration: none;
                color: rgba(255, 255, 255, 0.808);
                font-size: 26px;
                transition: color .2s ease ;
                &:hover{
                    color: #8c6199 ;
                }
            }
        }
    }
    .footerbutton{
        background: rgba(0, 0, 0, 0.945);
        width: auto;
        text-align: center;
        .footerbutton__text{
            color: $colortext;
            font-size: 14px;
            word-spacing: 2px;
            text-decoration: capitalize;
            margin-bottom: 0 !important;
            .footerbutton__text-span{
                text-transform: $transform;
                opacity: .4;
            }
        }
    }
}

/* MEDIA QUERIES */

@media (min-width: 50px) and (max-width: 576px){

    /* INICIO */
    .containerinicio{
        flex-direction: column;
        .containerinicio__text {
            width: 100%;
        }
        .containerinicio__video {
            width: 90%;
        }
    }
    .containerpelea{
        flex-direction: column;
        .containerpelea__text {
            width: 90%;
        }
        .containerpelea__boximg {
            width: 100%;
            .containerpelea__img {
                width: 90%;
            }
        }
    }
    .containerestatua{
        flex-direction: column;
        .containerestatua__boximg {
            width: 100%;
            .containerestatua__img {
                width: 90%;
            }
        }
        .containerestatua__text {
            width: 90%;
        }
    }

    /* HISTORIA */
    .historia__container{
        justify-content: center;
        flex-direction: column;
        margin-top: 0vh;
        .historia__block{
            width: 80%;
            margin: 80px auto -50px auto;
        }
    }

    .footercontent__socials {
        justify-content: center;
        .footercontent__list {
            margin: 0px 2em;
            }
    }
    .navbar-brand {
        display: none;
    }


















    .backgroundunirse #form {
        width: 520px;
        margin: 0px;
    }
    .backgroundunirse #form .form__container {
        display: block;
    }

    .backgroundunirse #form .form__container .form__block1 {
        padding-right: 9px;
    }
    .backgroundunirse {
        display: flex;
        justify-content: center;
    }

    .backgroundunirse #form{
        width: 730px;
    }

    .backgroundGaleria .containergaleria .containergaleria__img {
        width: 530px;
    }
    .titlegaleria .titlegaleria__text {
        font-size: 3.5em;
    }
    .backgroundGaleria .containergaleria {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 768px){

    /* INICIO */
    .containerinicio{
        flex-direction: column;
        .containerinicio__text {
            width: 100%;
        }
        .containerinicio__video {
            width: 90%;
        }
    }
    .containerpelea{
        flex-direction: column;
        .containerpelea__text {
            width: 90%;
        }
        .containerpelea__boximg {
            width: 100%;
            .containerpelea__img {
                width: 90%;
            }
        }
    }
    .containerestatua{
        flex-direction: column;
        .containerestatua__boximg {
            width: 100%;
            .containerestatua__img {
                width: 90%;
            }
        }
        .containerestatua__text {
            width: 90%;
        }
    }

    /* HISTORIA */
    .historia__container{
        justify-content: center;
        flex-direction: column;
        margin-top: 0vh;
        .historia__block{
            width: 80%;
            margin: 80px auto -50px auto;
        }
    }

    .footercontent__socials {
        justify-content: space-evenly;
        .footercontent__list {
            margin: 0px 2em;
        }
    }





















    .backgroundunirse #form {
        width: 520px;
        margin: 0px;
    }
    .backgroundunirse #form .form__container {
        display: block;
    }

    .backgroundunirse #form .form__container .form__block1 {
        padding-right: 9px;
    }
    .backgroundunirse {
        display: flex;
        justify-content: center;
    }

    .backgroundunirse #form{
        width: 730px;
    }

    .backgroundGaleria .containergaleria .containergaleria__img {
        width: 530px;
    }
    .titlegaleria .titlegaleria__text {
        font-size: 3.5em;
    }
    .backgroundGaleria .containergaleria {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 992px){

    /* INICIO */
    .containerinicio{
        flex-direction: column;
        .containerinicio__text {
            width: 100%;
        }
        .containerinicio__video {
            width: 90%;
        }
    }
    .containerpelea{
        flex-direction: column;
        .containerpelea__text {
            width: 90%;
        }
        .containerpelea__boximg {
            width: 100%;
        }
    }
    .containerestatua{
        flex-direction: column;
        .containerestatua__boximg {
            width: 100%;
        }
        .containerestatua__text {
            width: 90%;
        }
    }
    .footercontent__list {
        margin: 0px 2em;
    }

    /* HISTORIA */
    .historia__container{
        justify-content: center;
        flex-direction: column;
        margin-top: 0vh;
        .historia__block{
            width: 80%;
            margin: 80px auto -50px auto;
        }
    }

    .form__block1--controls{
        width: 90%;
    }

    .form__block1{
        padding-right: 0px;
    }

    .backgroundunirse #form{
        width: 730px;
    }
}

@media (min-width: 992px) and (max-width: 1200px){
    .containerinicio{
        flex-direction: column;
        .containerinicio__text {
            width: 100%;
        }
        .containerinicio__video {
            width: 90%;
        }
    }
    .containerpelea{
        flex-direction: column;
        .containerpelea__text {
            width: 90%;
        }
        .containerpelea__boximg {
            width: 100%;
        }
    }
    .containerestatua{
        flex-direction: column;
        .containerestatua__boximg {
            width: 100%;
        }
        .containerestatua__text {
            width: 90%;
        }
    }
    .footercontent__list {
        margin: 0px 2em;
    }
}



// p {
//     margin-bottom: 0rem;
// }